<h1>CodeClicker v{{version}}</h1>
<p>Lines of Code: {{linesOfCode}}</p>
<button (click)="writeLineOfCode()"><span class="blink">&#9608;</span> Write Code</button>
<ul id="log">
  <li *ngFor="let line of log">
    {{line}}
  </li>
</ul>
<footer>
  <a href="https://github.com/DSigmund/codeclicker" target="_blank" rel="noopener noreferrer">Source</a>
  <a href="https://www.webdad.eu/impressum.html" target="_blank" rel="noopener noreferrer">Legal</a>
  <a href="https://www.webdad.eu/datenschutz.html" target="_blank" rel="noopener noreferrer">Data Policy</a>
</footer>