<h1>CodeClicker v{{version}}</h1>
<table id="values">
  <tr *ngFor="let element of elements | keyvalue">
    <td *ngIf="element.value.value > 0 || element.value.unlocked" id="{{element.key}}">
      {{element.value.name}}: 
      {{element.value.value}}
    </td>
    <td *ngIf="element.value.addValue.value > 1" title="({{element.value.addValue.value}} with bonus {{element.value.appliedBonus}})">
      {{element.value.short}}/click: 
      {{element.value.addValue.value * element.value.appliedBonus }}
    </td>
    <td *ngIf="element.value.autoClicker.value > 0" title="({{element.value.autoClicker.value}} {{element.value.autoClicker.name}} on Level {{element.value.autoClickerMulti.value}} with Bonus {{element.value.appliedBonus}})">
      {{element.value.short}}/{{element.value.autoClicker.name}}: 
      {{element.value.autoClicker.value * element.value.autoClickerMulti.value * element.value.appliedBonus }}/s
    </td>
    <td *ngIf="element.value.appliedBonus > 1" title="{{element.value.bonusReason}}">
      Bonus: {{element.value.appliedBonus}}
    </td>
  </tr>
</table>
<table>
  <tr *ngFor="let element of elements | keyvalue">
    <td *ngIf="element.value.button.unlocked">
      <button (click)="singleClick(element.key)" id="{{element.key}}Click">
        {{element.value.button.title}}
        <span *ngIf="element.value.cost.value > 0">
          {{displaySingleClickCost(element.key)}}
        </span>
      </button>
    </td>
    <td *ngIf="element.value.addValue.unlocked">
      <button (click)="buy(element.key, 'addValue')">
        {{element.value.addValue.button.title}} ({{element.value.addValue.cost.next}} {{element.value.short}})
      </button>
    </td>
    <td *ngIf="element.value.autoClicker.unlocked">
      <button (click)="buy(element.key, 'autoClicker')">
        {{element.value.autoClicker.button.title}} ({{element.value.autoClicker.cost.next}} {{element.value.short}})
      </button>
    </td>
    <td *ngIf="element.value.autoClickerMulti.unlocked">
      <button (click)="buy(element.key, 'autoClickerMulti')">
        {{element.value.autoClickerMulti.button.title}} ({{element.value.autoClickerMulti.cost.next}} {{element.value.short}})
      </button>
    </td>
  </tr>
</table>

<br/>
<h2 *ngIf="achievementsUnlocked">Achievements</h2>
<div *ngFor="let a of achievements">
  <div *ngIf="a.unlocked" class="achievement" title="{{a.description}}">
    {{a.name}}
  </div>
</div>
<div id="codeBox" *ngIf="firstClick">{{ascii}}</div>
<footer>
  <button (click)="reset()">reset</button>
  <a href="https://paypal.me/DSigmund/2.50?locale.x=en_US" target="_blank" rel="noopener noreferrer">Gift a Coffee</a>
  <a href="https://github.com/DSigmund/codeclicker" target="_blank" rel="noopener noreferrer">Source</a>
  <a href="https://www.webdad.eu/impressum.html" target="_blank" rel="noopener noreferrer">Legal</a>
  <a href="https://www.webdad.eu/datenschutz.html" target="_blank" rel="noopener noreferrer">Data Policy</a>
</footer>