<h1>CodeClicker v{{version}}</h1>
<p *ngIf="linesOfCode > 0">Lines of Code: {{linesOfCode}}</p>
<p *ngIf="addLinesOfCode > 1">Lines of Code per Click: {{addLinesOfCode}}</p>
<p *ngIf="autoClicker > 0">Lines of Code via Bot: {{autoClicker * autoClickerMulti}}/s ({{autoClicker}} Bots on Level {{autoClickerMulti}})</p>
<button (click)="writeLineOfCode()"><span class="blink">&#9608;</span> Write Code</button>
<br/>
<button (click)="buy('buyMoreLinesOfCodePerClick', 'addLinesOfCode')" *ngIf="unlock.buyMoreLinesOfCodePerClick">More Lines Of Code per Click! ( {{nextCost.buyMoreLinesOfCodePerClick}} Lines)</button>
<button (click)="buy('buyAutoClicker', 'autoClicker')" *ngIf="unlock.buyAutoClicker">Buy a Bot! ( {{nextCost.buyAutoClicker}} Lines)</button>
<button (click)="buy('buyAutoClickerMulti', 'autoClickerMulti')" *ngIf="unlock.buyAutoClickerMulti">Enhance the Bots! ( {{nextCost.buyAutoClickerMulti}} Lines)</button>
<br/>
<h2 *ngIf="achievementsUnlocked">Achievements</h2>
<div *ngFor="let a of achievements">
  <div *ngIf="a.unlocked" class="achievement">
    {{a.name}}
  </div>
</div>
<footer>
  <button (click)="reset()">reset</button>
  <a href="https://github.com/DSigmund/codeclicker" target="_blank" rel="noopener noreferrer">Source</a>
  <a href="https://www.webdad.eu/impressum.html" target="_blank" rel="noopener noreferrer">Legal</a>
  <a href="https://www.webdad.eu/datenschutz.html" target="_blank" rel="noopener noreferrer">Data Policy</a>
</footer>